.flex-table{
	display: flex;
	flex-direction: row;
	font-size: 18px;
	text-align: center;
	background: rgba(255,255,255,0.3);
	margin-top: 10px;
	margin-bottom: 10px;
}

.flex-column{
	width: 13%;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.flex-elem{
	text-align: center;
	margin-top: 0px;
	border: 2px solid rgba(255,255,255,0.3);
}

.flex-head{
	height: 64px;
	text-align: center;
	margin-top: 0px;
	border: 2px solid rgba(255,255,255,0.3);
	font-weight: bold;
}

.disable{
	display: none;
}

.timeslot{
	height: 30px;
	border-radius: 10px;
	font-size: 20px;
}

.timeslot-extend{
	height: 64px;
	line-height: 64px;
}

.timeslot-student-booked{
	background-color: #4CAF50;
	color: white;
}

.timeslot-student-booked:hover{
	background-color: #6CCF70;
	cursor: pointer;
	cursor: pointer;
}

.timeslot-tutor-booked{
	background-color: red;
	color: white;
	cursor: pointer;
}

.timeslot-tutor-booked:hover{
	background-color: #DC143C;
	cursor: pointer;
}

.timeslot-finished{
	background-color: #CCCCCC;
}

.timeslot-booked-finished{
	background-color: #F08080;
	color: white;
	cursor: pointer;
}

.timeslot-bookable{
	background-color: #4CAF50;
	color: white;
}

.timeslot-bookable:hover{
	background-color: #5CBF60;
	cursor: pointer;
}

.timeslot-available{
	background-color: #4CAF50;
	color: white;
}

.timeslot-available:hover{
	background-color: orange;
	cursor: pointer;
}

.timeslot-not-available{
	background-color: #CCCCCC;
	color: white;
}

.timeslot-activate{
	background-color: #CCCCCC;
	color: white;
}

.timeslot-activate:hover{
	background-color: #7CDF90;
	cursor: pointer;
}

.timeslot-short:hover {
	cursor: pointer;
}