*{
	box-sizing: border-box;
}

body{
    font-size: 20pt;
	font-family: Georgia, serif;
}

button {
	font-size: 20px;
	font-weight: bold;
	margin-left: 20px;
}

table {
	width: 85%;
	text-align: center;
}

td{
	height: 70px;
}

#header {
	text-align: center;
	background: #BBBBBB;
	padding: 5px;
	width: auto;
}

#navigation {
	text-align: center;
	background: #DDDDDD;
}

#navigation ul {
	text-align: center;
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navigation li{
    float: left;
}

#navigation li a {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#navigation li a:hover {
    background-color: #AAAAAA;
}
