body{
	background: -webkit-linear-gradient(left, #25c481, #25b7c4);
	background: linear-gradient(to right, #25c481, #25b7c4);
	min-width: 1200px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

table {
	width: 85%;
	text-align: center;
}

.container {
	margin: 20px;
	padding: 40px;
	background: rgba(255,255,255,0.5);
	border-radius: 10px;
}

.row {
	padding-left: 15px;
	padding-right: 15px;
}

.nav-item:hover {
	background-color: #444444;
}

#header {
	text-align: center;
	background: #BBBBBB;
	padding: 5px;
	width: auto;
}

#schedule-button-div {
	font-size: 20px;
	padding : 5px;
	text-align: center;
}

#available-button-div {
	font-size: 20px;
	padding : 5px;
	text-align: center;
}

.flex-table{
	display: flex;
	flex-direction: row;
	font-size: 18px;
	text-align: center;
	background: rgba(255,255,255,0.3);
	margin-top: 10px;
	margin-bottom: 10px;
}

.flex-column{
	width: 13%;
	display: flex;
	flex-direction: column;
	text-align: center;s
}

.flex-elem{
	text-align: center;
	margin-top: 0px;
	border: 2px solid rgba(255,255,255,0.3);
}

.flex-head{
	height: 30px;
	text-align: center;
	margin-top: 0px;
	border: 2px solid rgba(255,255,255,0.3);
	font-weight: bold;
}

.disable{
	display: none;
}

.timeslot{
	height: 30px;
	border-radius: 10px;
	font-size: 20px;
}

.timeslot-extend{
	height: 64px;
	line-height: 64px;
}

.timeslot-booked{
	background-color: #4CAF50;
	color: white;
}

.timeslot-bookable{
	background-color: #4CAF50;
	color: white;
}

.timeslot-bookable:hover{
	background-color: #5CBF60;
	cursor: pointer;
}

.timeslot-cancellable{
	background-color: #504CAF;
}

.timeslot-cancellable:hover{
	cursor: pointer;
	background-color: #AF4C50;
}

.timeslot-short:hover {
	cursor: pointer;
}