<h1>Edit Profile</h1>
<hr>
<div class="row">
<!-- left column -->
<!--div class="col-md-3">
<div class="text-center">
    <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
    <h6>Upload your photo...</h6>
    
    <input type="file" class="form-control">
</div>
</div--> 
<!-- edit form column -->
{% if editError %}
<div class="alert alert-info alert-dismissable">
    <a class="panel-close close" data-dismiss="alert">×</a> 
    <i class="fa fa-coffee"></i>
    <strong>Old password does not match!!</strong>
</div>
{% endif %}
{% if confirmError %}
<div class="alert alert-info alert-dismissable">
    <a class="panel-close close" data-dismiss="alert">×</a> 
    <i class="fa fa-coffee"></i>
    <strong>Confirm password does not match new password!!</strong>
</div>
{% endif %}
{% if success %}
<div class="alert alert-info alert-dismissable">
    <a class="panel-close close" data-dismiss="alert">×</a> 
    <i class="fa fa-coffee"></i>
    <strong>Congratulations!! Changes have been saved!!</strong>
</div>
{% endif %}
<div class="col-md-9 personal-info">
    <h3>Personal info</h3>
    
    <form class="form-horizontal" role="form">
        <!--First Name-->
        <div class="form-group">
        <label class="col-lg-3 control-label">First name:</label>
        <div class="col-lg-8">
            <input id="firstname" name="firstname" class="form-control" type="text" value="{{tutor.user.first_name}}">
        </div>
        </div>
        <!--Last Name-->
        <div class="form-group">
        <label class="col-lg-3 control-label">Last name:</label>
        <div class="col-lg-8">
            <input id="lastname" name="lastname" class="form-control" type="text" value="{{tutor.user.last_name}}">
        </div>
        </div>
        <!--Email-->
        <div class="form-group">
        <label class="col-lg-3 control-label">Email:</label>
        <div class="col-lg-8">
            <input id="email" name="email" class="form-control" type="text" value="{{tutor.user.email}}">
        </div>
        </div>
        <!--Phone-->
        <div class="form-group">
        <label class="col-lg-3 control-label">Phone:</label>
        <div class="col-lg-8">
            <input id="phone" name="phone" class="form-control" type="text" value="{{tutor.phone}}">
        </div>
        </div>
        <!--availability-->
        <div class="form-group">
        <label class="col-lg-3 control-label">Profile Availability:</label>
        <div class="col-lg-8">
            <select id="availability" name="availability" class="form-control">
                {% if tutor.profile.availability %}
                <option value="active" selected="selected"> Active </option>
                <option value="deactive"> Deactive </option>
                {% else %}
                <option value="active"> Active </option>
                <option value="deactive" selected="selected"> Deactive </option>
                {% endif %}
            </select>
        </div>
        </div>
        <!--Tutor type-->
        <div class="form-group">
        <label class="col-lg-3 control-label">Tutor type:</label>
        <div class="col-lg-8">
            <select id="tutortype" name="tutortype" class="form-control" onchange="flushHourlyrate()">
                {% ifnotequal tutor.tutor_type "Contract" %}
                <option value="Contract"> Contract </option>
                <option value="Private" selected="selected"> Private </option>
                {% else %}
                <option value="Contract" selected="selected"> Contract </option>
                <option value="Private"> Private </option>
                {% endifnotequal %}
            </select>
        </div>
        </div>
        <!--Hourly rate-->
        {% ifnotequal tutor.tutor_type 'Contract' %}
        <div id="HourlyrateDiv" class="form-group">
        {% else %}
        <div id="HourlyrateDiv" style="display:none" class="form-group">
        {% endifnotequal %}
        <label class="col-lg-3 control-label">Hourly rate:</label>
        <div class="col-lg-8">
            <input id="hourlyrate" type="number" name="hourlyrate" value="{{tutor.profile.hourly_rate}}" step="10" min="0" class="form-control" autofocus>
        </div>
        </div>
        <!--University-->
        <div class="form-group">
        <label class="col-lg-3 control-label">Univeristy:</label>
        <div class="col-lg-8">
            <select id="university" name="university" class="form-control" onchange="flushCourse()">
                {% for university in university_list %}
                    {% if university == tutor.profile.university %}
                    <option value="{{university}}" selected="selected"> {{university}} </option>
                    {% else %}
                    <option value="{{university}}"> {{university}} </option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        </div>
        <!--Courses-->
        <div id="CourseDiv" class="form-group">
        <label class="col-lg-3 control-label">Courses:</label>
        <div class="col-lg-8">
            {% for course in university_course_list %}
            <div class="checkbox">
                <label class="custom-control custom-checkbox">
                    {% if course in tutor_course_list %}
                    <input type="checkbox" name="checkbox" class="custom-control-input course" checked="checked" value="{{course}}">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"> {{course}} </span>
                    {% else %}
                    <input type="checkbox" name="checkbox" class="custom-control-input course" value="{{course}}">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"> {{course}} </span>
                    {% endif %}
                </label>
            </div>
            {% endfor %}
        </div>
        </div>
        <!--Tags-->
        <div class="form-group">
        <label class="col-lg-3 control-label">Tags:</label>
        <div class="col-lg-8">
            {% for tag in all_tags %}
            <div class="checkbox">
                <label class="custom-control custom-checkbox">
                    {% if tag in tag_list %}
                    <input type="checkbox" name="checkbox" class="custom-control-input tag" checked="checked" value="{{tag}}">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"> {{tag}} </span>
                    {% else %}
                    <input type="checkbox" name="checkbox" class="custom-control-input tag" value="{{tag}}">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description"> {{tag}} </span>
                    {% endif %}
                </label>
            </div>
            {% endfor %}
        </div>
        </div>
        <!--create own tags-->
        <div class="form-group">
        <label class="col-lg-8 control-label">I want to create my own tags<br><span>Saperate your tags with ;</span></label>
        <div class="col-lg-8">
            <input id="newtags" name="newtags" class="form-control" type="text">
        </div>
        </div>
        <!--User Name-->
        <div class="form-group">
        <label class="col-lg-3 control-label">Username:</label>
        <div class="col-lg-8">
            <input id="username" name="username" class="form-control" type="text" value="{{tutor.user.username}}">
        </div>
        </div>
        <!--Old password-->
        <div class="form-group">
        <label class="col-lg-3 control-label">Old password:</label>
        <div class="col-lg-8">
            <input id="oldpassword" name="oldpassword" class="form-control" type="password">
        </div>
        </div>
        <!--Password-->
        <div class="form-group">
        <label class="col-lg-3 control-label">Password:</label>
        <div class="col-lg-8">
            <input id="password" name="password" class="form-control" type="password">
        </div>
        </div>
        <!--Confirm Password-->
        <div class="form-group">
        <label class="col-lg-3 control-label">Confirm password:</label>
        <div class="col-lg-8">
            <input id="confirmpassword" name="confirmpassword" class="form-control" type="password">
        </div>
        </div>
        <!--Biography-->
        <div class="form-group">
        <label class="col-lg-3 control-label">Biography:</label>
        <div class="col-lg-8">
            <textarea id="biography" class="form-control" name="biography" cols="30" rows="10">{{tutor.profile.introduction}}</textarea>
        </div>
        </div>

    </form>
    <div class="col-md-8">
        <button class="btn btn-primary" onclick="postTutorProfile()">Save changes</button>
    </div>
    <a href="{% url 'tutor_homepage' %}"> Back to homepage </a>
</div>
</div>