<div id="available-timeslots">
	<div id="available-calendar" class="flex-table">
	{% load index %}
		<div class="flex-column">
			<div class="flex-head"> Calendar </div>
			{% for hour, minute_dict in calendar.timeslots.0.items %}
				{% for minute, timeslot in minute_dict.items %}
			<div class="flex-elem">
				<div class="timeslot"> {{ timeslot }} </div> 
			</div>
				{% endfor %}
			{% endfor %}
		</div>
		{% for day, hour_dict in calendar.timeslots.items %}
		<div class="flex-column">
			<div class="flex-head"> {{ weekday|index:day }} </div>
			{% for hour, minute_dict in hour_dict.items %}
				{% for minute, timeslot in minute_dict.items %}
			<div class="flex-elem {% if timeslot.disable %} disable {% endif %}">
				<div class="timeslot 
				{% if timeslot.extend %} timeslot-extend {% endif %}
				{% if timeslot.state %} timeslot-bookable {% else %} timeslot-not-bookable {% endif %}"
				{% if timeslot.state %} onclick="viewStudentTimeslotInfo('{{ timeslot.timeslot.id }}')" {% endif %}>
				{% if timeslot.state %} available {% endif %}
				</div>
			</div>
				{% endfor %}
			{% endfor %}
		</div>
		{% endfor %}
	</div>
	<div id="available-button-div">
		<button id="prev" class="btn btn-success col-2" onclick="getAvailableSlots({{tutor_id}}, -1)"> Previous Week </button>
		{{ start_date }} - {{ end_date }}
		<button id="next" class="btn btn-success col-2" onclick="getAvailableSlots({{tutor_id}}, 1)"> Next week </button>
	</div>
</div>