{% load static %}
<h2> Tutor Detailed Profile </h2> <br>
<img src="{% static 'tutoria/img/default.png' %}" width="120" height="120">

<table class="table table-striped" id="detailed_profile">
    <tbody>
    <tr>
        <tr> <th>Name</th> <td> {{ selectedTutor.user.username }} </td> </tr>
        <tr> <th>University</th> <td> {{ selectedTutor.profile.university }} </td> </tr>
        <tr> <th>Hourly Rate</th> <td>{{ selectedTutor.profile.hourly_rate }}</td> </tr>
        <tr>
            <th>Average Review</th>
            <td>
                {% if selectedTutor.profile.average_review == -1  %}
                    N/A
                {% else %}
                    {{ selectedTutor.profile.average_review }}
                {% endif %}
            </td>
        </tr>
        <tr> <th>Introduction </th> <td> {{ selectedTutor.profile.introduction }} </td> </tr>
        <tr> <th>Availability</th> <td> {{ selectedTutor.profile.availability }} </td> </tr>
        <tr>
            <th>Previous Review</th>
            <td>
                {% for review in all_reviews %}
                    <h4>
                        {% if review.anonymous  %}
                            Anonymous Student:
                        {% else %}
                            {{ review.student }}:
                        {% endif %}
                    </h4>
                    <div>
                        <p>Star Rate: {{ review.star }}</p>
                        <p>Student Comment:
                            {% if review.comment == ""  %}
                                N/A
                            {% else %}
                                {{ review.comment }}
                            {% endif %}
                        </p>
                    </div><br>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <th>Contact</th>
            {% if has_booking_between %}
                <td> {{ selectedTutor.phone }} </td>
            {% else %}
                <td> Hidden (You have to book from this tutor to view) </td>
            {% endif %}
        </tr>
    </tr>
    </tbody>
</table>
<button class="btn btn-success col-12" id="slotButton" onclick="getAvailableSlots('{{ tutor_id }}', 0, true)">View Timeslots</button>