<html>
<head>
    {% load static %}
    <title>Tutoria Platform</title>
    <link rel="stylesheet" href="{% static 'tutoria/css/home.css' %}"/>
    <script type="text/javascript" src="{% static 'tutoria/js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'tutoria/js/script.js' %}"></script>
</head>

<body>
    <div id="header">
		<h1>Student Homepage</h1>
	</div>

    <div id="navigation">
        <ul class="navigation-bar">
            <li onclick=window.location=""> Home </li>
            <li onclick="search()"> Search </li>
            <li onclick="viewSchedule(0, true)"> Schedule </li>
            <li onclick="viewWallet()"> Wallet </li>
            <li onclick="viewConfirmation()"> Confirmations </li>
            <li onclick=window.location={% url 'logout' %}>Logout </li>
        </ul>
    </div>

    <div id="profile" onload="loadProfile()">
        <table id="userProfile" frame="box" rules="all">
            <tr> <th>Name</th> <td>{{ student.user.username }}</td> </tr>
            <tr> <th>Email</th><td>{{ student.user.email }}</td> </tr>
            <tr> <th>Avatar</th><td>{{ student.avatar }}</td> </tr>
            <tr> <th>Phone</th><td>{{ student.phone}}</td> </tr>
        </table>
    </div>

    <div id="searchResult"></div>
</body>
</html>