<div id="review">
    <h3> Write a review</h3> <hr>
    <table class="table table-bordered table-transparent">
        <thead class="thead-inverse"> </thead>
        <tbody>
            <tr>
                <th> Tutor </th>
                <td> {{ reviewedSlot.tutor }} </td>
            </tr>
            <tr>
                <th> Rating </th>
                <td>
                    <div id="star_rating" style="margin-left: 30px">
                        <fieldset class="rating">
                            <input type="radio" id="star5" name="rating" value="5" />
                            <label class = "full" for="star5" title="Awesome - 5 stars"></label>
                            <input type="radio" id="star4" name="rating" value="4" />
                            <label class = "full" for="star4" title="Pretty good - 4 stars"></label>
                            <input type="radio" id="star3" name="rating" value="3" />
                            <label class = "full" for="star3" title="Meh - 3 stars"></label>
                            <input type="radio" id="star2" name="rating" value="2" />
                            <label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
                            <input type="radio" id="star1" name="rating" value="1" />
                            <label class = "full" for="star1" title="Sucks big time - 1 star"></label>
                        </fieldset>
                    </div>
                </td>
            </tr>
            <tr>
                <th> Comment </th>
                <td>
                    <div id="text_comment"> <textarea id="comment" rows="10" cols="60"></textarea><br> </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div id="anonymous_option">
        <label class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input anonymous_selection" name="checkbox" value="anomymous">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description"> Review Anonymously </span>
        </label>
    </div>
    <button class="btn btn-success col-6" onclick="submitReview({{ reviewedSlot.id }})"> Submit </button>
</div>


