{% load static %}
<table class="table table-hover" id="short_profile_list">
    <thead class="thead-dark">
        <tr>
            <th>Name</th>
            <th>University</th>
            <th>Hourly-rate</th>
            <th>Average_review</th>
        </tr>
    </thead>
    <tbody>
        {% for tutor in all_tutors %}
        <tr id="{{ tutor.id }}" class="short">
            <td onmouseover="" style="cursor: pointer;" onclick="getDetailedProfile( '{{ tutor.id }}' )">{{ tutor.user.username }}</td>
            <td onmouseover="" style="cursor: pointer;" onclick="getDetailedProfile( '{{ tutor.id }}' )">{{ tutor.profile.university }}</td>
            <td onmouseover="" style="cursor: pointer;" onclick="getDetailedProfile( '{{ tutor.id }}' )">{{ tutor.profile.hourly_rate }}</td>
            <td onmouseover="" style="cursor: pointer;" onclick="getDetailedProfile( '{{ tutor.id }}' )">
                {% if tutor.profile.average_review == -1  %}
                    N/A
                {% else %}
                    {{ tutor.profile.average_review }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<div id="sort-dropdown" class="dropdown">
    <button class="btn btn-success dropdown-toggle" type="button" id="sortMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Default Order
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="javascript:sortProfile('Lowest Hourly Rate')">Lowest Hourly Rate</a>
        <a class="dropdown-item" href="javascript:sortProfile('Highest Hourly Rate')">Highest Hourly Rate</a>
        <a class="dropdown-item" href="javascript:sortProfile('Lowest Average Review')">Lowest Average Review</a>
        <a class="dropdown-item" href="javascript:sortProfile('Highest Average Review')">Highest Average Review</a>
    </div>
</div>