<html>
<head>
    {% load static %}
    <title>Tutoria Platform</title>
    <link rel="stylesheet" href="{% static 'tutoria/css/home.css' %}"/>
    <script type="text/javascript" src="{% static 'tutoria/js/jquery.js' %}"></script>
</head>

<body>
    <h1>Homepage (Version 1.0)</h1>
    <p>This page currently implemented the search function.</p>
    <p>Search is tested on all tutor data and doesn't deal with tag matching.</p>

    <div id="wallet" style="float:left; padding-bottom: 10px">
        Balance: <b id="balance"> {{ student.balance }} </b> HKD
        <button id="addValue" onclick="addValue()"> Add Value </button>
        <input id="value" type="text"> </input>
    </div>

    <div id="profile" onload="loadProfile()">
        <table id="userProfile" frame="box" rules="all">
            <tr> <th>Name</th> <td>{{ student.user.username }}</td> </tr>
            <tr> <th>Email</th><td>{{ student.user.email }}</td> </tr>
            <tr> <th>Avatar</th><td>{{ student.avatar }}</td> </tr>
            <tr> <th>Phone</th><td>{{ student.phone}}</td> </tr>
        </table>
    </div>

    <div id="searchResult"></div>

    <div id="options">
        <button id="searchButton" onclick="getShortProfiles()">Search</button>
        <button id="scheduleButton" onclick="viewSchedule()">View Booked Timeslots</button>
        <button id="confirmation" onclick="viewConfirmation()">My Confirmations</button>
        <a href="{% url 'logout' %}">Logout</a>
    </div>
</body>

</html>

<script>
    function getShortProfiles() {
        $.ajax({
            url : "/student/shortProfile/", // the endpoint
            type : "GET", // http method
            // handle a successful response
            success : function(response) {
                $('#searchResult').html(response);
                //$('#searchButton').css("display", "none");
            }
        });
    }

    function getDetailedProfile(tutorID){
        $.ajax({
            url : "/student/detailedProfile/", // the endpoint
            type : "POST", // http method
            data : {
            'tutorID' : tutorID
            },
            // handle a successful response
            success : function(response) {
                $('#searchResult').html(response);
            }
        });
    }

    function getAvailableSlots(tutorID){
        $.ajax({
            url : "/student/availableSlot/", // the endpoint
            type : "POST", // http method
            data : {
            'tutorID' : tutorID
            },
            // handle a successful response
            success : function(response) {
                $('#searchResult').html(response);
            }
        });
    }

    function bookSlot(slotID){
        var bookOrNot=confirm("Are you sure to book this timeslot?");
        if (bookOrNot){
            $.ajax({
                url : "/student/bookSlot/", // the endpoint
                type : "POST", // http method
                data : {
                'slotID' : slotID
                },
                // handle a successful response
                success : function(response) {
                    $('#searchResult').html(response);
                    $('#searchButton').css("display", "block");
                }
            });
        }
    }

    function viewSchedule(){
        $.ajax({
            url : "/student/schedule/", // the endpoint
            type : "GET", // http method
            // handle a successful response
            success : function(response) {
                $('#searchResult').html(response);
            }
        });
    }

    function cancelSlot(slotID){
        var cancelOrNot = confirm("Are you sure to cancel this timeslot?");
        if (cancelOrNot){
            $.ajax({
                url : "/student/cancelSlot/", // the endpoint
                type : "POST", // http method
                data : {
                'slotID' : slotID
                },
                // handle a successful response
                success : function(response) {
                    $('#searchResult').html(response);
                }
            });
        }
    }

    function viewConfirmation(){
        $.ajax({
            url : "/student/confirmation/", // the endpoint
            type : "GET", // http method
            // handle a successful response
            success : function(response) {
                $('#searchResult').html(response);
            }
        });
    }

    function addValue() {
        $.ajax({
            url : "/student/addValue/", // the endpoint
            type : "POST", // http method
            data : {
                'value' : $('#value').val()
            },
            // handle a successful response
            success : function(response) {
                $('#balance').html(response);
            }
        });
    }
</script>