<html>
<head>
    {% load static %}
    <title>Tutoria Platform</title>
	<link rel="stylesheet" href="{% static 'tutoria/css/home.css' %}"/>
    <script type="text/javascript" src="{% static 'tutoria/js/jquery.js' %}"></script>
</head>

<body>
    <div>
        <form id='login_form' action='/' method='POST'> 
            Username: <input name='username' type='text'/> <br>
            Password: <input name='password' type='password'/> <br>
            <input type='submit' value='Sign in'></input>
            <a href="{% url 'registrate' %}"> Sign up </a>
        </form>
    </div>
</body>
</html>

