<html>
<head>
    <title>Tutoria Platform</title>
</head>

<body>
    <div>
        <form id='login_form' action='login.html' method='GET'>
            Username: <input id='username' type='text'/> <br>
            Password: <input id='password' type='password'/> <br>
            <input type='submit' value='Sign in'>
            <button> Sign up </button>
        </form>
        <form id='register_form'>
            Username: <input id='username' type='text'/> <br>
            Password: <input id='password' type='password'/> <br>
            <input type='submit' value='Regist'>
            <button> Back to login </button>
        </form>
    </div>
</body>
</html>

<script>
</script>