<html lang="en">
<head>
	{% load static %}
	<title>Sign In</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="{% static 'tutoria/img/favicon.png' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'tutoria/css/signin.css' %}">
	<script type="text/javascript" src="{% static 'tutoria/js/jquery.js' %}"></script>
</head>

<body>
	<div id="navigation">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="">
				<img src="{% static 'tutoria/img/brand.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="">
				Tutoria
			</a>
		</nav>
	</div>

	<div class="container">
		<div class="form-signin">
			<h2 class="form-signin-heading">Please sign in</h2>
			<form id='login_form' action='/' method='POST'> 
				<input id='username' name='username' type="text" class="form-control" placeholder="User Name" required autofocus />
				<input id='password' name='password' type="password" class="form-control" placeholder="Password" required />
				<div class="checkbox">
					<a href="{% url 'registration' %}"> Sign up </a> <br>
					<a href="{% url 'password_reset'%}"> Forget Password </a>
				</div>
				<input class="btn btn-lg btn-primary btn-block" type="submit" value='Sign in' />
			</form>
		</div>
	</div> <!-- /container -->
</body>
</html>

{% if wrong_password %}
<script>
	alert('wrong password');
</script>
{% endif %}

{% if invalid_user %}
<script>
	alert("user not exist");
</script>
{% endif %}
<html lang="en">
<head>
	{% load static %}
	<title>Sign In</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="icon" href="{% static 'tutoria/img/favicon.png' %}">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<link rel="stylesheet" href="{% static 'tutoria/css/signin.css' %}">
	<script type="text/javascript" src="{% static 'tutoria/js/jquery.js' %}"></script>
</head>

<body>
	<div id="navigation">
		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand" href="">
				<img src="{% static 'tutoria/img/brand.svg' %}" width="30" height="30" class="d-inline-block align-top" alt="">
				Tutoria
			</a>
		</nav>
	</div>

	<div class="container">
		<div class="form-signin">
			<h2 class="form-signin-heading">Please sign in</h2>
			<form id='login_form' action='/' method='POST'> 
				<input id='username' name='username' type="text" class="form-control" placeholder="User Name" required autofocus />
				<input id='password' name='password' type="password" class="form-control" placeholder="Password" required />
				<div class="checkbox">
					<a href="{% url 'registration' %}"> Sign up </a> <br>
					<a href="{% url 'password_reset'%}"> Forget Password </a>
				</div>
				<input class="btn btn-lg btn-primary btn-block" type="submit" value='Sign in' />
			</form>
		</div>
	</div> <!-- /container -->
</body>
</html>

{% if wrong_password %}
<script>
	alert('wrong password');
</script>
{% endif %}

{% if invalid_user %}
<script>
	alert("user not exist");
</script>
{% endif %}
