{% load static %}
{% for booking in all_bookings %}
<div class="bookedSlot">

    <table>
        <tr>
            <th>Tutor</th>
            <th>Start Time</th>
            <th>End Time</th>
        </tr>
        <tr>
            <td>{{booking.tutor.user.last_name}} {{booking.tutor.user.first_name}}</td>
            <td>{{booking.startTime}}</td>
            <td>{{booking.endTime}}</td>
        </tr>
    </table>
    <br>
    <button onclick="cancelSlot('{{booking.id}}')">Cancel Session</button>

</div>
{% endfor %}