{% load static %}
<table id="short_profile_list" 	frame="box" rules="all">
    <tr>
        <th>Name</th><th>University</th><th>Hourly-rate</th><th>average_review</th>
    </tr>
    {% for tutor in all_tutors %}
    <tr>
        <td onclick="getDetailedProfile( '{{ tutor.id }}' )">{{ tutor.user.username }}</td>
        <td onclick="getDetailedProfile( '{{ tutor.id }}' )">{{ tutor.profile.university }}</td>
        <td onclick="getDetailedProfile( '{{ tutor.id }}' )">{{ tutor.profile.hourly_rate }}</td>
        <td onclick="getDetailedProfile( '{{ tutor.id }}' )">{{ tutor.profile.average_review }}</td>
    </tr>
    {% endfor %}
</table>