<html>
<head>
    {% load static %}
    <title>Tutoria Platform</title>
    <link rel="stylesheet" href="{% static 'tutoria/css/home.css' %}"/>
    <script type="text/javascript" src="{% static 'tutoria/js/jquery.js' %}"></script>
</head>

<body>
This is tutor home<br>
<div id="searchResult"></div>
<button id="confirmation" onclick="viewConfirmation()">My Confirmations</button>
<a href="{% url 'logout' %}">Logout</a>
</body>

</html>

<script>
    function viewConfirmation(){
        $.ajax({
            url : "/tutor/confirmation/", // the endpoint
            type : "GET", // http method
            // handle a successful response
            success : function(response) {
                $('#searchResult').html(response);
            }
        });
    }
</script>