<div id="wallet">
	<div>
		<h3 id="balance"> Balance: {{ student.balance }} HKD </h3>
	</div>
	<div class="form-group row" id="tutor_name">
		<div class="col-4">
			<input class="form-control" id="value" type="text" size="30" name="textbox">
		</div>
		<button class="btn btn-success" id="withdraw" onclick="withdraw()"> Withdraw </button>
		<button class="btn btn-success" id="add-value" onclick="addValue($('#value').val())"> Add Value </button>
	</div>
</div>

<hr>

<div id="history">
	<h3> Transaction History </h3>
	<table class="table table-bordered table-transparent" id="transfer-history">
		<thead class="thead-dark">
			<tr>
				<th style="width:20%"> Time </th>
				<th> Content </th>
			</tr>
		</thead>
		<tbody>
			{% for history in transaction_history %}
			<tr>
				<td> {{ history.createTime }} </td>
				<td style="text-align: left"> {{ history.content|linebreaks }} </td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>